body {
    background-color: coral;
    text-align: center;

}
a {
    color: blue;
}
h1 {
    color:  white;
    border: yellow;
    background-color: sienna;
}
h3 {
    color: red;
}
 p {
     text-align: center;

 }
 .many {
     text-align: left;
 }
     